/*BASIC-STYLE*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  vertical-align: baseline;
  font-size: 100%;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
}
body {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #424242;
}
h1,
h2,
h3,
h4,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  margin-bottom: 20px;
}
h1 {
  font-size: 35px;
  line-height: 35px;
  font-weight: 700;
}
html,
body {
  height: 100%;
  width: 100%;
}
p {
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}
h4 {
  font-size: 18px;
}

/*Common styles*/
.header__container,
.section__container,.footer__container {
  width: 1170px;
  padding: 0 30px;
}
.header__info-contacts a:hover,
a:hover {
  color: #cbb93a;
  background-color: transparent;
  transition: 0.8s;
}
.section {
  display: flex;
  margin-top: 70px;
  justify-content: center;
}
.startup__media-item a:hover,
.features__media-item a:hover {
  background: #ff9633;
  color: #fff;
  transition: opacity, 0.5s;
}

/*Header*/
.header__info,
.header__nav {
  background: #e4eef0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.header__info .header__container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  text-transform: uppercase;
}
.header__info-text {
  align-self: center;
}
.header__info-contacts {
  justify-self: end;
  display: grid;
  height: 100%;
  grid-template-areas: ". .";
  grid-column-gap: 10px;
}
.header__info-contacts a {
  padding: 15px 10px 15px 0px;
  font-weight: 300;
  line-height: 20px;
  color: #000;
  border-right: 1px solid #d7e3e6;
}
.header__info-contacts a:last-child {
  border-right: none;
  padding-right: 0;
}
.header__nav {
  background-color: rgb(245, 247, 247);
  box-shadow: 0 0 3px rgba(191, 188, 188, 1);
  transition: all 0.2s;
  z-index: 1000;
}
.header__nav_fixed {
  margin-top: -50px;
  position: fixed;
  transition: all 0.7s;
}
.header__nav .header__container {
  display: grid;
  grid-template-areas: "logo logo logo logo logo menu";
  padding-top: 20px;
  padding-bottom: 20px;
}
.header__nav-logo__wrapper {
  grid-area: logo;
  position: relative;
}
.header__nav-logo {
  position: absolute;
  z-index: 1000;
  top: -10px;
}
.header__nav-logo img {
  max-width: 90%;
  min-width: 100px;
  height: auto;
}
.header__nav-menu {
  grid-area: menu;
  justify-self: end;
  display: grid;
  grid-template-areas: ". . . . .";
  grid-column-gap: 40px;
}
.header__nav-menu__item {
  font-size: 17px;
  font-weight: 400;
  color: #000000;
}
.header__nav-toggle {
  grid-area: toggle;
  justify-self: end;
  display: none;
  width: 32px;
  height: 15px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.header__nav-toggle span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #333;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.header__nav-toggle span:nth-child(2),
.header__nav-toggle span:nth-child(3) {
  top: 7px;
}
.header__nav-toggle span:nth-child(4) {
  top: 14px;
}
.header__nav-toggle_open span:nth-child(1),
.header__nav-toggle_open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.header__nav-toggle_open span:nth-child(2) {
  transform: rotate(45deg);
}
.header__nav-toggle_open span:nth-child(3) {
  transform: rotate(-45deg);
}
.header__nav-toggle:hover span {
  background-color: #cbb93a;
  transition: 0.8s;
}

/*Carousel section*/
.carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.carousel .section__container {
  margin-top: 70px;
}
.carousel__slides {
  width: calc(100% * 2);
  position: relative;
  display: flex;
  transition: 1s;
  transition-timing-function: cubic-bezier(0.67, 0.01, 0.23, 1);
}
.carousel__slide {
  background: url(../images/slide-7.jpg) center no-repeat;
  background-size: cover;
  width: calc(100% / 2);
  height: 570px;
  position: relative;
}
.carousel__slide:last-child {
  background: url(../images/slide-3.jpg) center no-repeat;
  background-size: cover;
}
.carousel__slide-caption {
  width: 100%;
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  color: #3391aa;
}
.carousel__slide-caption h1 {
  font-size: 40px;
  line-height: 65px;
  text-transform: uppercase;
  margin-bottom: 0;
}
.carousel__slide-caption p {
  font-size: 23px;
}
.carousel__arrows {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: calc(100% - 60px);
  z-index: 100;
}
.carousel__arrows a {
  font-size: 35px;
  color: #3391aa;
  border: 1px solid #3391aa;
  padding: 2px 8px 2px 10px;
}
.carousel__arrows a:first-child {
  padding: 2px 10px 2px 8px;
}
.carousel__arrows a:hover {
  color: #138407;
  border-color: #138407;
}

/*Startup section*/
.startup .section__container {
  display: grid;
  grid-template-areas: ". .";
  grid-column-gap: 30px;
}
.heading h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.1;
}
.startup__question-img img,
.partners__image img {
  max-width: 76%;
  height: auto;
}
.startup__media-list {
  display: grid;
  grid-template-areas: ".";
  grid-row-gap: 60px;
}
.startup__media-item {
  display: grid;
  grid-template-areas: ". .";
  grid-column-gap: 35px;
}
.startup__media-item__icon,
.features__media-item__icon {
  background: #e4eef0;
  width: 75px;
  height: 75px;
  font-size: 45px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Features section*/
.features__heading-three {
  text-transform: uppercase;
  font-size: 22px;
  padding-bottom: 20px;
}
.features__media-list {
  margin-top: 30px;
  display: grid;
  grid-template-areas:
    ". . ."
    ". . .";
  grid-column-gap: 30px;
  grid-row-gap: 60px;
}
.features__media-item {
  display: grid;
  grid-template-areas: ". .";
  grid-column-gap: 35px;
}

/*Pricing section*/
.pricing {
  background: rgba(255, 247, 247, 0.52);
  font-size: 18px;
}
.pricing__heading {
  margin-top: 20px;
}
.pricing__table {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
}
.pricing__table-names,
.pricing__table-item {
  background-color: white;
  padding: 20px 15px;
  text-align: center;
}
.pricing__table-names,
.pricing__table-item__list {
  display: grid;
  grid-template-areas: ".";
  align-items: center;
}
.pricing__table-item__list h5,
.pricing__table-names h5 {
  font-weight: 500;
  padding: 15px 0;
}
.pricing__table-names {
  align-items: end;
  height: 400px;
}
.pricing__table-item__list h5 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.37);
}
.pricing__table-item__present h5 {
  border: none;
  padding: 0;
}
.pricing__table-item__present {
  margin-top: 10px;
}
.pricing__table-item__button,
.service__button {
  margin-top: 30px;
  font-family: "Oswald", sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 400;
  padding: 9px 46px;
  border-radius: 25px;
  background: #3391aa;
  border: 1px solid #3391aa;
}
.pricing__table-item__button:hover,
.service__button:hover {
  background: #ff9633;
  border: 1px solid #ff9633;
  color: #000;
  transition: opacity, 0.5s;
}
.button_margin {
  margin-top: 47px;
}

/*Partners section*/
.partners {
  background: #e4eff1;
  padding: 60px 0px;
}
.partners__container {
  display: grid;
  grid-template-areas: ". . .";
}
.partners__image {
  display: flex;
  justify-content: center;
}

/*Service section*/
.service{
  position: relative;
}
.service__heading{
  text-align: center;
}
.service__heading a{
  color: #3391aa;
}
.service__heading p{
  font-size: 18px;
}
.service__buttons {
  display: grid;
 margin: 0 auto;
  width: 50%;
  grid-template-areas: ". .";
  justify-items: center;
  grid-column-gap: 20px;
}
.service__button {
  width: 165px;
  padding: 9px 0;
}
.left-shape,.right-shape{
  position: absolute;
  z-index: -1;
}
.left-shape {
  top: 110px;
}
.right-shape {
  right: 40px;
  top: -30px;
}

/*Footer*/
.footer{
  margin-top: 70px;
  background: linear-gradient(to top, #3391aa, #add3dd);
  padding: 20px 0;
  text-align: center;
  z-index: -100;
  position: relative;
}
.footer__info p {
  color: #000;
  font-size: 18px;
  margin-bottom: 10px;
}
.footer__container{
  width: 100%;
}
.footer__info {
  display: grid;
  width: 100%;
  grid-template-areas: ". .";
  justify-items: center;
}
.footer__contact h3{
  font-size: 20px;
  color: #534444;
  font-weight: bold;
  margin-top: 20px;
}
.footer__form-heading{
  padding-top: 25px;
}
.footer__form input {
  padding: 5px 20px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.footer__form input[type="submit"] {
  background: #00C1DF;
  border: none;
  margin-left: -4px;
  font-weight: bold;
}
.footer__form input[type="submit"]:hover {
  background: #FD9D45;
  transition: opacity, 0.9s;
}

/*Adaptation*/
@media only screen and (max-width: 1120px) {
  .header__nav-menu {
    grid-column-gap: 15px;
  }
  .startup__media-item {
    grid-column-gap: 20px;
  }
  .pricing {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1000px) {
  .pricing__table {
    grid-column-gap: 15px;
  }
  .startup__media-list {
    grid-row-gap: 40px;
  }
  .header__nav-logo img {
    max-width: 170px;
  }
  .header__nav-menu {
    display: none;
    margin-top: 20px;
    grid-template-areas: ".";
    grid-row-gap: 10px;
    justify-items: end;
  }
  .header__nav .header__container {
    grid-template-areas:
      "logo logo toggle"
      ". . menu";
  }
  .header__nav-toggle {
    display: block;
  }
  .carousel__slide-caption h1 {
    font-size: 35px;
    line-height: 40px;
  }
  .features__media-list {
    grid-template-areas:
      ". ."
      ". ."
      ". .";
    grid-column-gap: 30px;
    grid-row-gap: 40px;
  }
  .features__media-item {
    grid-template-columns: 1fr 10fr;
  }
}
@media only screen and (max-width: 920px) {
  .pricing__table-item__list,
  .pricing__table-names {
    display: none;
  }
  .pricing__table-item {
    background-color: transparent;
    padding: 0;
  }
  .pricing__table-item__button,
  .button_margin {
    margin-top: 0;
    width: 100%;
  }
  .pricing__table {
    grid-template-columns: none;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 20px;
  }
  .service__buttons {
    width: 70%;
  }
}
@media only screen and (max-width: 650px) {
  .footer__info {
    grid-template-areas: ".";
  }
  .partners__container {
    grid-template-areas: ".";
    grid-row-gap: 30px;
  }
  .startup .section__container {
    grid-template-areas: ".";
    grid-row-gap: 30px;
  }
  .features__media-list {
    grid-template-areas: ".";
    grid-column-gap: 30px;
    grid-row-gap: 40px;
  }
  .service__buttons {
    width: 100%;
  }
}
@media only screen and (max-width: 550px) {
  .features__media-item {
    grid-column-gap: 20px;
  }
  .service__button {
    margin: 0;
    display: grid;
    grid-template-areas: ".";
    justify-self: center;
    grid-row-gap: 20px;
  }
  .header__info .header__container {
    grid-template-columns: 1fr 3fr;
    text-align: center;
  }
  .header__nav .header__container {
    grid-template-areas:
      "logo logo toggle"
      ". . menu";
  }
  .header__nav-toggle {
    display: block;
  }
  .header__container {
    padding: 0 15px;
  }
  .service__buttons {
    margin-top: 20px;
    grid-template-areas: "."
  ".";
    grid-row-gap: 20px;
  }
}
@media only screen and (max-width: 400px) {
  .startup__media-list,
  .features__media-list {
    grid-row-gap: 20px;
  }
  .carousel__slide-caption h1 {
    font-size: 30px;
  }
  .header__info-contacts a {
    padding-right: 5px;
  }
  .header__info-contacts {
    grid-column-gap: 5px;
  }
  .heading h2 {
    font-size: 25px;
  }
  .header__nav-logo img {
    max-width: 130px;
  }
  .header__container {
    padding: 0 10px;
  }
  .header__info .header__container {
    grid-template-columns: 1fr 5fr;
  }
}
