@font-face {
  font-family: "icomoon";
  src: url("../fonts//icomoon.eot?cs4tec");
  src: url("../fonts/icomoon.eot?cs4tec#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?cs4tec") format("truetype"),
    url("../fonts/icomoon.woff?cs4tec") format("woff"),
    url("../fonts/icomoon.svg?cs4tec#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

main {
  padding: 25px;
}

.add-button {
  background-color: transparent;
  border: none;
  position: relative;
  height: 48px;
  outline: none;
}
.add-button__img {
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid transparent;
}
.add-button__img:hover {
  border: 1px solid rgb(111, 135, 206);
}

.docs {
  margin-top: 20px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.docs > div img {
  border: 1px solid transparent;
}
.docs > div img:hover {
  border: 1px solid rgb(111, 135, 206);
}
.docs p {
  text-align: center;
  margin: 0;
  font-size: 20px;
}

footer {
  position: fixed;
  height: 60px;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-family: "icomoon";
  font-size: 20px;
  background-color: royalblue;
}
.home:before {
  content: "\e902";
}
.notification:before {
  content: "\e951";
}
.profile:before {
  content: "\e971";
}
.search:before {
  content: "\e986";
}
.home:hover,
.notification:hover,
.profile:hover,
.search:hover {
  color: white;
}

.docs-list {
  margin: 20px 100px 60px 100px;
}
.docs-list > div{
  display: grid;
  grid-template-columns: 100px 1fr;
}
.docs-list > div p:first-child{
  text-align: center;
}
.docs-list__section {
  border-bottom: 1px solid royalblue;
}
.docs-list__header p {
  font-weight: bold;
}
.docs-list__errors {
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}


@media screen and (max-width: 1200px) {
  .docs {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 900px) {
  .docs-list {
    margin: 20px 50px 0px 50px;
  }
  .docs {
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
  }
}
@media screen and (max-width: 540px) {
  .docs-list {
    margin: 20px 20px 0px 20px;
  }
  .docs {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 400px) {
  .docs-list {
    margin: 20px 10px 0px 10px;
  }
  .docs {
    grid-template-columns: 1fr;
  }
  main {
    padding: 5px;
  }
}
